@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap');

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  font-size: 16px;
}
body {
  margin: 0;
  font-family: "Cabin", serif;
  font-weight: 300;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 992px) {
  html,
  body {
    font-size: 20px;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.fp-tableCell {
  padding: 90px;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background-color: #000 !important;
}
#fp-nav ul li:hover a.active span,
#fp-nav ul li a.active span,
.fp-slidesNav ul li:hover a.active span,
.fp-slidesNav ul li a.active span {
  background-color: #fff !important;
}
.section {
  .fp-controlArrow {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-style: solid;
    margin-top: -15px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0.4;
  }
  .fp-controlArrow.fp-prev {
    width: 30px;
    height: 30px;
    left: 60px;
    border-width: 0 10px 10px 0;
    border-color: #fff;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .fp-controlArrow.fp-next {
    width: 30px;
    height: 30px;
    right: 60px;
    border-width: 0 10px 10px 0;
    border-color: #fff;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

h1 {
  font-size: 2.4rem;
  font-weight: 700;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
}
h3 {
  font-size: 1.8rem;
  font-weight: 700;
}

section {
  background: #000;
  color: #fff;
  text-align: center;
}
.section-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.2rem;
}
.section-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1rem;
}
.section-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.6rem;
}
@media (min-width: 992px) {
  .section-header {
    text-align: right;
  }
  .section-footer {
    text-align: left;
  }
}

.intro-backround {
  background-image: url("./assets/intro-screen-mobile.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 992px) {
  .intro-backround {
    background-image: url("./assets/intro-screen-desktop.jpg");
  }
}
.logos {
  img {
    max-height: 20vh;
    width: auto;
    margin: 1vw;
  }
}

